{{ define "main" }}
  <header class="page-header">
    <h1 class="page-title">{{ .Title }}</h1>
  </header>

  {{ if .Params.show_toc | default .Site.Params.article.show_toc }}
  {{ partial "toc.html" . }}
  {{ end }}

  <div class="article-list">
    {{ $pages := .Pages }}
    {{ if gt (len $pages) 0 }}
      {{ range $pages }}
        <article class="article-list__item">
          <a href="{{ .RelPermalink }}" class="article-list__link">
            <h2 class="article-list__title">{{ .Title }}</h2>
            {{ if .Summary }}
              <div class="article-list__summary">{{ .Summary }}</div>
            {{ end }}
          </a>
        </article>
      {{ end }}
    {{ else }}
      <p>{{ i18n "no_posts" }}</p>
    {{ end }}
  </div>
{{ end }}